---
import Layout from '~/layouts/PageLayout.astro'; 
import whatsapp from '~/assets/images/Digital_Inline_Green.svg'
import Image from '~/components/common/Image.astro';
const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
<section class="relative md:-mt-[76px] not-prose" >

  <div class="relative mx-auto">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-12 md:py-20">
      <div class="text-center pb-8 md:pb-8 max-w-5xl z-20 mx-auto">
        <h1
        class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        set:html={metadata.title}
      />
      <p
      class="inline-block mx-auto my-8 text-3xl text-muted -pt-16 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
      >Call or send a text message to this number on WhatsApp<br>Automatically book an appointment</p>
      <div class="grid mx-auto gap-2 md:gap-y-12 sm:grid-cols-2">
     
        <p
        class="inline-block mx-auto my-8 text-3xl text-muted -pt-16 dark:text-slate-300 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        >+1 (408) 234-0437<br>Address: 697 N 21st St<br> San Jose, CA 95112</p>
        <Image
        class="w-max-h-20 mt-8 overflow-hidden relative intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
        widths={[400]}
        width={400}
        sizes="(max-width: 200px) 400px"
        loading="eager"
        src={whatsapp}
        alt="Whats app"
      />  
        </p>
      
        </div>
        <iframe width="600" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-121.88251465559007%2C37.35734923210471%2C-121.8782123923302%2C37.359208311483265&amp;layer=mapnik&amp;marker=37.35827877755023%2C-121.88036352396011" class="w-full"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.358279&amp;mlon=-121.880364#map=19/37.358279/-121.880364&amp;layers=N">View Larger Map</a></small>

    </div>
    </div>
  </section>
</Layout>
